body {
    color : white;
    background-color: darkgrey;
}

img {

}

footer{
    background-color: #232B2B;
}

#foot{
    position: fixed;
}

  .btn-secondary{
    margin:10px;
  }

  .text-uppercase text-center mb-3{
      background-color: black;
  }